<h1>Leave Status Notification</h1>
<p>Dear <%= @employee.name %>,</p>
<% if @holiday.present? %>
  <p>Regarding your leave request: <%= @holiday.description %>&nbsp;from: <%= @holiday.start_date %>&nbsp; to: <%= @holiday.end_date %></p>
<% else %>
  <p>Regarding your leave request: [No holiday information]</p>
<% end %>
<p>Status: <%= @message %></p>
<p>Thank you.</p>
