<h1>Welcome to Company's Leave Portal</h1>
<p>Dear <%= @employee.name %>,</p>
    <p>Your account has been created with the following details:</p>
    <p>Name: <%= @employee.name%></p>
    <p>Email: <%= @employee.email %></p>
    <p>Department: <%= @employee.department%></p>
    <p>Designation: <%= @employee.designation%></p>
    <p>Education: <%= @employee.education%></p>
    <p>Date of Joining: <%= @employee.date_of_joining%></p>
    <p>Birth Date: <%= @employee.birth_date%></p>
    <p>Passing Year: <%= @employee.passing_year%></p>
    <p>Password: <%= @employee.password%></p>
    <p>Please login with these credentials whenever you are requesting for leave.</p>
    <p>Thank you for registering.</p>

  
